/*FOOTER*/

footer{
    margin-left: 1em;
}

footer section:nth-of-type(1){
    background-image: linear-gradient(to bottom right, rgb(253, 242, 174) , rgb(255, 211, 251));
    
}

footer section:nth-of-type(1) h2{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

footer section:nth-of-type(1) p{
    font-family: var(--font-family);
    font-size: 0.9em;
    text-align: center;
}

input{
        width: 100%;
        height: 40%;
        margin-bottom: 1em;
        font-family: var(--font-family);
        font-size: 0.9em;
}

footer section:nth-of-type(1) button{
    width: 100%;
    height: 40%;
   margin-bottom: 2em;
   color: white;
   background-color: black;
   font-family: var(--font-family);
   text-transform: uppercase;
   

}
footer section:nth-of-type(2){
background-color: rgb(246, 246, 246);
}

footer section:nth-of-type(2) ul{
    margin: 0;
    padding: 0;
  
}

footer section:nth-of-type(2) ul li{

  
}

footer section:nth-of-type(2) img{
    width: 40%;
}