*,
*::after,
*::before {
    box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #111;
    --color-text-white: #fff;
    --color-background: rgb(255, 255, 255);
	--font-family: 'Poppins', tahoma, sans-serif;
    --button-color: #111;
    --fontsize-button: .8em;
    --swiper-2-color: #fff2f9;
    --button-products-standard-color: rgb(246, 246, 246);


}

main h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-family: var(--font-family);
    font-size: 1.3em;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1em;
    padding: 0.2em 0;
}

/* met de before en after elementen kan je deze lijnen maken. het before element is bij deze de lijn voor de heading en de lijn achter de heading is het. after element 
Bron: Codepen studentenassistent Anna-Kyara Strik*/
main h2:before,
main h2:after {
    content: '';
    /* moet erin staan anders gebeurt er niets. In de '' kan je eventueel ook in schrijven */
    width: 100%;
    border-bottom: solid 0.1em;
    /* de lijn zelf */
}

/* 1e h2 invisible maken */
section:nth-of-type(1) h2 {
    display: none;
}

/**********************/
/* SECTION 1 SWIPER 1*/
/**********************/

section:nth-of-type(1) {
    overflow: hidden;
    display: grid;
    width: 100%;
}

ul {
    list-style: none;
}

main section:nth-of-type(1)>ul {
    padding: 0;
    margin: 0;

    display: flex;
    overflow-x: scroll;
    gap: 10px;
    scroll-behavior: smooth;
    overflow: auto;

}

main section:nth-of-type(1)>ul li {
    display: grid;
    grid-template-rows: 1fr max-content;

}

main section:nth-of-type(1)>ul li h3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: end;
}

main section:nth-of-type(1)>ul li img {
    width: 30em;
    height: auto;
    object-fit: contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

main section:nth-of-type(1)>ul li a {
    font-family: var(--font-family);
    font-size: var(--fontsize-button);
    text-transform: uppercase;

    color: var(--color-text-white);
    background-color: var(--button-color);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 1;

    margin: 1em;
    justify-self: center;
}

main section:nth-of-type(1) nav ul {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.dot-poster {
    display: block;
    padding: 5px;
    background-color: darkgray;
    border-radius: 25px;
    display: flex;
}

/**********************/
/* SECTION 2 SWIPER 2 */
/**********************/
section:nth-of-type(2) h2 {
    display: none;
}

main section:nth-of-type(2) ul {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    display: flex;
}


main section:nth-of-type(2) li {
    display: flex;
    justify-content: center;

    font-size: 1em;
    background: var(--swiper-2-color);

    padding: 0.5em;
    flex: 0 0 100%;

}

main section:nth-of-type(2) li img {
    margin-right: 1em;
}

main section:nth-of-type(2) li p {
    margin: 0;
    font-family: var(--font-family);
}


main section:nth-of-type(2) img {
    width: 1.8em;
    height: 1.5em;
}

main section li:nth-of-type(2) img {
    width: 1.5em;
    height: 1.5em;
}

main section li:nth-of-type(3) img {
    width: 1.5em;
    height: 1.5em;
}

/**************/
/* SECTION 3*/
/**************/

section:nth-of-type(3) h2 {
    display: none;
}


main section:nth-of-type(3) ul {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    list-style: none;
    display: flex;
}

main section:nth-of-type(3) li {
    display: flex;
    justify-content: center;
}


main section:nth-of-type(3) ul li img {
    width: 15em;
    height: auto;

}

/******************/
/* PRODUCTS LIST (nog in progress)
  Bron: Codepen docent Sanne tijdens voortgangsgesprek*/
/******************/

section:nth-of-type(5) h2 {
    display: none;
}


section:nth-of-type(4) form {
    display: flex;
    gap: 1em;
    margin-left: 1em;
    overflow-x: scroll;
}

section:nth-of-type(4) label {
    position: relative;

    padding: .5em 1.5em;
    border-radius: .25em;
    font-family: var(--font-family);
    font-weight: 600;
    background-color: var(--button-products-standard-color);
    height: 2.5em;
    display: flex;
    align-items: center;
}


section:nth-of-type(4) label:has(input:checked) {
    background-image: linear-gradient(135deg, lightyellow, pink);

}

section:nth-of-type(4) label input {
    /* viezig	 */
    /* 	position:absolute;
        left:-9999em; */

    /* niet het plaatje van het OS, maar zelf stylen (radio button weg)*/
    appearance: none;
    position: absolute;
    inset: 0;
    margin: 0;
    /* 	top:0;
        bottom:0;
        left:0;
        right:0; */

    border-radius: .25em;

}


section:nth-of-type(4) ul {
    margin: 0;
    padding: 0;
    list-style-type: "";

    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

}


section:nth-of-type(4) ul li img {
    width: 15em;
    height: auto;
    display: block;
    grid-row: 1;
    padding: 2em;

}

section:nth-of-type(4) ul li {
    position: relative;
    display: grid;
    grid-template-rows: 12em 1fr; 
    gap: 0.5em;
    position: relative;
    width: 15em; /* Breedte van elke productkaart */
    text-align: center;

    margin: 1em;
}

section:nth-of-type(4) ul li button {
    grid-row: 2 /3;
    /* position: absolute;

    bottom: 5em; */
    /* 0 vanaf de linkerkant */
    left: 0;
    right: 0;
    /* 0 vanaf de bovenkant */
    
    margin: 1em;
    padding: .5em;
    

    background-color: var(--button-color);
    color: var(--color-text-white);
    font-family: var(--font-family);
    font-weight: 600;
    text-transform: uppercase;
}


section:nth-of-type(4) ul li p:nth-of-type(1){
    position:absolute;
    /* 0 vanaf de linkerkant */
    left:0;
    /* 0 vanaf de bovenkant */
    top:0;
    
    /* dingen die je al kent */
    margin: 1.5em;
    padding:.4em;
    background-color: var(--button-color);
    color: var(--color-text-white);
    font-family: var(--font-family);
    font-size: .7em;
    font-weight: 500;
}

section:nth-of-type(4) ul li h3,
section:nth-of-type(4) ul li p:nth-of-type(2) {
    margin: 0;
    font-family: var(--font-family);

}

/* Prijs dikgedrukt maken*/
section:nth-of-type(4) ul li p:nth-of-type(3) {
    margin: 0;
    font-weight: 600;
    font-size: .8em;
    font-family: var(--font-family);
}

section:nth-of-type(4) ul li h3 {
    font-size: 1.1em;
    color: #333;
}

section:nth-of-type(4):has([value="cleansers"]:checked) li:not(.cleansers) {
    display: none;
}

section:nth-of-type(4):has([value="moisturizers"]:checked) li:not(.moisturizers) {
    display: none;
}

section:nth-of-type(4):has([value="facemasks"]:checked) li:not(.facemasks) {
    display: none;
}

section:nth-of-type(4):has([value="sunscreens"]:checked) li:not(.sunscreens) {
    display: none;
}

section:nth-of-type(4):has([value="serums"]:checked) li:not(.serums) {
    display: none;
}

/*
    .dot-products {
        display: block;
        padding: 5px;
        background-color: darkgray;
        border-radius: 25px;
        display: flex;
    }
*/

/********************/
/*BESTE DEALS POSTER*/
/********************/

main section:nth-of-type(5) img {
    width: 100%;
    height: auto;
}

/**************/
/* SECTION 6
 Styling for the unordered list */
/**************/

main section:nth-of-type(6) a {

display: flex;
justify-content: center;
font-family: var(--font-family);
font-size: 0.8em;
}


main section:nth-of-type(6) a:visited {
    color: var(--color-text);
}

section:nth-of-type(6) ul {
    margin: 0;
    padding: 0;
    list-style-type: "";

    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

}


section:nth-of-type(6) ul li img {
    width: 15em;
    height: auto;
    display: block;
    grid-row: 1;
    padding: 2em;

}

section:nth-of-type(6) ul li {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 0.5em; 
    position: relative;
    width: 15em; /* Breedte van elke productkaart */
    text-align: center;

    margin: 1em;
}

section:nth-of-type(6) ul li button {
    position: absolute;

    bottom: 5em;
    /* 0 vanaf de linkerkant */
    left: 0;
    right: 0;
    /* 0 vanaf de bovenkant */
    
    margin: 1em;
    padding: .5em;
    

    background-color: var(--button-color);
    color: var(--color-text-white);
    font-family: var(--font-family);
    font-weight: 600;
    text-transform: uppercase;
}


section:nth-of-type(6) ul li h3,
section:nth-of-type(6) ul li p:nth-of-type(1) {
    margin: 0;
    font-family: var(--font-family);
}

/* Prijs dikgedrukt maken*/
section:nth-of-type(6) ul li p:nth-of-type(2) {
    margin: 0;
    font-weight: 600;
    font-size: .8em;
    font-family: var(--font-family);
}

section:nth-of-type(6) ul li h3 {
    font-size: 1.1em;
    color: #333;
}



/**************/
/*GRID IMAGES*/
/**************/

main section:nth-of-type(7) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 10em) 18em;
    gap: 0.5em;
    width: 100%;
    max-width: 38em;

}

main section:nth-of-type(7) article {
    width: 100%;
    height: 100%;
}

main section:nth-of-type(7) article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

main section:nth-of-type(7) img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

article:nth-of-type(5) {
    grid-column: 1 / -1;
    padding-bottom: 1em;
}

/*****************************/
/*KOREAN SKINCARE QUIZ VIDEO*/
/*****************************/

iframe {
    width: 100%;
    height: 540px;
}


/**************************/
/*SECTION 9 SKINCARE QUIZ*/
/**************************/

section:nth-of-type(8) h3 {
    text-transform: uppercase;

}

section:nth-of-type(8) p {
    font-size: 0.9em;
    margin: 2em;
}

section:nth-of-type(8) a {

    background-color: var(--button-color);
    color: var(--color-text-white);
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

section:nth-of-type(8) {
    font-family: var(--font-family);
    margin-bottom: 3em;
    text-align: center;
}